extends ../template.pug

mixin post(name, date, link)
	tr.post
		td
			h4.post-name
				a(href=link) #{name}
		td
			span.post-meta.date #{date}

mixin blogHeader(title, titleLink, back, backLink)
	h1
		a.page-title(href=titleLink)= title
		= " ("
		a.page-title.subpage(href=backLink)= back
		= ")"

block body
	+blogHeader("Akshay's Blog", "/blog/", "back to home","/")
	h2 Posts
	table.posts
		+post("Gradient Descent", "4-24-2018", "/blog/gradient-descent.html")